@model IEnumerable<Biblioteca.Models.BookViewModels.BookAvailabilityViewModel>

<h1>Livros</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Data de Publicação</th>
            <th>Disponibilidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.PublicationDate?.ToShortDateString()</td>
            <td>@item.AvailabilitySummary</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
