@model IEnumerable<Biblioteca.Models.BookViewModels.BookAvailabilityViewModel>

<h1>Livros</h1>

@if (User.IsInRole(Biblioteca.Models.RoleNames.Administrator) || User.IsInRole(Biblioteca.Models.RoleNames.Staff))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Criar novo</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Data de Publicação</th>
            <th>Disponibilidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.PublicationDate?.ToShortDateString()</td>
            <td>@item.AvailabilitySummary</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                @if (User.IsInRole(Biblioteca.Models.RoleNames.Administrator) || User.IsInRole(Biblioteca.Models.RoleNames.Staff))
                {
                    <span> | </span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                }
                @if (User.IsInRole(Biblioteca.Models.RoleNames.Administrator))
                {
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
